<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <title>New User</title>
</head>
<body>
    <br><br> 
    <nav> 
      <!-- <a class="btn btn-outline-dark" href="{ url_for('home') }">Home </a> -->
      <a class="btn btn-outline-dark" href="{{ url_for('logout') }}">Logout</a>
      <a class="btn btn-outline-dark" href="{{ url_for('homePage') }}">Home Page</a>
    </nav>
    <br><br>
    <h1>Info for new user</h1>

</body>
</html>