<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <title>Food</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        body {
            text-align: center;
        }

        h2 {
            color: black;
        }

        h1 {
            color: black;
        }

        h4 {
            color: black;
        }

        li {
            color: black;
        }

        h5 {
            color: black;
        }
    </style>

</head>

<body>
    <nav>
        <a class="btn btn-outline-light" href="{{ url_for('logout') }}">Logout</a> |
        <a class="btn btn-outline-light" href="{{ url_for('homePage') }}">Home</a> |
        <a href="{{url_for('listCategory', category=category)}}" class="btn btn-outline-light">Return</a>
    </nav>

    <h1><strong>{{data['meals'][0]['strMeal']}}</strong></h1>
    <br>
    <img src="{{data['meals'][0]['strMealThumb']}}" width="300" height="300">
    <br>
    <h2><strong>Food Category:</strong> {{data['meals'][0]['strCategory']}}</h2>
    <div class="parent">
        <div class="child" style="float: left; width: 50%;">
            <h4><strong>Instructions: </strong><br>{{data['meals'][0]['strInstructions']}}</h4>
        </div>
        <div class="child" style="float: right; width: 50%;">
            <h4><strong>Ingredients:</strong></h4>
            <h5>
                {% for x in range(1, 21) %}
                {% set ingredient_key = 'strIngredient' + x|string %}
                {% if data['meals'][0][ingredient_key] != '' %}
                <li> {{ data['meals'][0][ingredient_key] }}</li>
                
                {% endif %}
            {% endfor %}
            </h5>
        
        
        
            <form method="POST" action="{{ url_for('addIdToDatabase') }}">
                <input type="hidden" name="meal_id" value="{{ data['meals'][0]['idMeal'] }}">
                <button type="submit" class="btn btn-light">Add</button>
            </form>
            {{ bootstrap.load_js() }}
        
        
        </body>
        </html>