<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <title>Food</title>

    <style>
        body{
            text-align: center;
        }
    </style>

</head>
<body>

    <!-- {{data}} -->
    <!-- <br>
    <br> -->
    {{data['meals'][0]['strMeal']}}
    <br>
    <img src="{{data['meals'][0]['strMealThumb']}}" width="300" height="300">
    <br>
    {{data['meals'][0]['strCategory']}}
    <br>
    {{data['meals'][0]['strInstructions']}}
    <br>
    

    
    {% for x in range(1,21) %}
        {% if data['meals'][0]['strIngredient{{x}}']  != '' %}
            data['meals'][0]['strIngredient{{x}}']
            <br>
        {% endif %}
    {% endfor %}

    <br>
    <br>

    <a href="{{url_for('listCategory', category=category)}}"><button>Return</button></a>

    {{ bootstrap.load_js() }}


</body>
</html>